<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwwy.liuxing.hall.dto.HallMapper">
    <resultMap id="HallResultMap" type="com.wwwy.liuxing.hall.dto.HallDTO">
        <id property="hallId" column="hall_id" javaType="java.lang.Integer"/>
        <result property="hallName" column="hall_name" javaType="java.lang.String"/>
        <result property="fkTheaterId" column="fk_theater_id" javaType="java.lang.Integer"/>
        <result property="hallCoordinateX" column="hall_coordinateX" javaType="java.lang.Integer"/>
        <result property="hallCoordinateY" column="hall_coordinateY" javaType="java.lang.Integer"/>
        <collection property="movieDTOList" ofType="com.wwwy.liuxing.movie.dto.MovieDTO">
            <id property="movieId" column="movie_id" javaType="java.lang.Integer"/>
            <result property="movieName" column="movie_name" javaType="java.lang.String"/>
            <result property="movieDirector" column="movie_director" javaType="java.lang.String"/>
            <result property="movieStar" column="movie_star" javaType="java.lang.String"/>
            <result property="movieType" column="movie_type" javaType="java.lang.String"/>
            <result property="movieCountry" column="movie_country" javaType="java.lang.String"/>
            <result property="movieLanguage" column="movie_language" javaType="java.lang.String"/>
            <result property="movieTime" column="movie_time" javaType="java.lang.String"/>
            <result property="movieDetails" column="movie_details" javaType="java.lang.String"/>
            <result property="movieDate" column="movie_date" javaType="java.lang.String"/>
            <result property="movieScore" column="movie_score" javaType="java.lang.String"/>
            <result property="movieImg" column="movie_img" javaType="java.lang.String"/>
            <result property="moviePreparation" column="movie_preparation" javaType="java.lang.String"/>
        </collection>
        <collection property="positionDTOList" ofType="com.wwwy.liuxing.position.PositionDTO">
            <id property="positionId" column="position_id" javaType="java.lang.Integer"/>
            <result property="positionName" column="position_name" javaType="java.lang.String"/>
            <result property="state" column="position_state" javaType="java.lang.Integer"/>
        </collection>
    </resultMap>

    <!--根据电影院id和影厅id获取影厅信息-->
    <select id="queryHallInfoByHallId" resultMap="HallResultMap">
        select h.hall_id,h.hall_name,h.hall_coordinateX,h.hall_coordinateY
        from tb_theater t
        join tb_hall h
        on t.theater_id = h.fk_theater_id
        where t.theater_id=#{theaterId}
        and h.hall_id = #{hallId}
    </select>
    <select id="queryExistPosition" resultMap="HallResultMap">
        SELECT * FROM tb_hall h JOIN tb_hall_position hp JOIN tb_position p
        ON hall_id=hp.hp_hall_id AND hp.hp_position_id=p.position_id AND hall_name=#{hallName}
    </select>
</mapper>