<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwwy.liuxing.user.dto.UserMapper">
    <resultMap id="UserResultMap" type="com.wwwy.liuxing.user.dto.UserDTO">
        <id property="userId" column="user_id" javaType="java.lang.Integer"/>
        <result property="userName" column="user_name" javaType="java.lang.String"/>
        <result property="userPassword" column="user_password" javaType="java.lang.String"/>
        <result property="userRealName" column="user_realname" javaType="java.lang.String"/>
        <result property="userTel" column="user_tel" javaType="java.lang.String"/>
    </resultMap>

    <select id="getNameAndPassWord" resultMap="UserResultMap">
        select user_name,user_password from tb_user WHERE user_name=#{userName};
    </select>

    <insert id="setUserRegister">
        INSERT INTO tb_user (user_name,user_password,user_realname,user_tel)
        VALUES (#{userName},#{userPassword},#{userRealName},#{userTel});
    </insert>
</mapper>